.dk-weather-main-container__forecast-container {
  display: flex;
  gap: 20px;
  flex-grow: 1;
}

.dk-weather-main-container__forecast-container__day {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  flex: 1 1 0;
  transition: all 200ms ease-in-out;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8rem;
}

.dk-weather-main-container__forecast-container__day:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.dk-weather-main-container__forecast-container__day img {
  width: 50px;
  height: 50px;
}
